global-exclude *.py[cod]
global-exclude .DS_Store
include yd_moldb.tar
prune .pytest_cache
prune .yadonpy_cache
prune tmp_workdir_smoke
prune src/yadonpy.egg-info
prune src/yadonpy/__pycache__
global-exclude __pycache__
