global-exclude *.py[cod]
global-exclude .DS_Store
prune .pytest_cache
prune .yadonpy_cache
prune tmp_workdir_smoke
prune examples/07_moldb_precompute_and_reuse/work_dir
prune examples/08_graphite_polymer_electrolyte_sandwich/work_dir
prune tmp_export_check
prune tmp_export_check2
prune src/yadonpy.egg-info
prune src/yadonpy/__pycache__
global-exclude __pycache__
